.description {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  flex-wrap: wrap;
}

.title {
  margin: 5px;
  font-size: 19px;
}

.contacts {
  margin: 10px;
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}

.contact {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
}

.icon svg {
  border-radius: 20%;
}

.noContacts {
  color: #6a6969;
}

.heading,
.text {
  margin: 2px 0;
}

.editBtn {
  text-align: center;
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background: #8f2e8d;
  box-shadow: 2px 4px 8px 0px rgb(34 60 80 / 20%);
  color: white;
  font-size: 17px;
  font-weight: 400;
  transition: all .2s;
}

.editBtn:hover {
  background: #643a64;
}

.editBtn:active {
  transform: translateY(2px);
  box-shadow: 0px 7px 4px -1px #942dd994;
}