.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.user {
  display: flex;
  gap: 20px;
  margin: 15px;
}

.user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}

.textField {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #40a9ff;
  font-weight: 600;
}

.textField:focus-visible {
  outline: 1px inset #40a9ff;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #40a9ff;
  font-weight: 600;
}

.select:focus-visible {
  outline: 1px inset #40a9ff;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.userFollow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.userFollow button {
  background: linear-gradient(85deg, #fb63f9, #c2e534);
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  font-size: 14px;
  color: white;
  font-weight: 800;
  transition: all 0.3s;
}

.userFollow button:hover {
  box-shadow: 0 0 10px 0 #c2e534 inset, 0 0 10px 4px #fb63f9;
}

.userFollow button:active {
  box-shadow: 0 5px #e3a22cd6;
  transform: translateY(2px)
}

.userFollow button:disabled {
  background: linear-gradient(85deg, #d396d2, #e2f598);
  padding: 7px 15px;
  border: none;
  cursor: not-allowed;
  border-radius: 7px;
  font-size: 14px;
  color: white;
  font-weight: 800;
  transition: all 0.3s;
}

.userFollow button:disabled:hover {
  box-shadow: none;
}

.userFollow button:disabled:active {
  box-shadow: none;
}

.userInfo {
  display: flex;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 12px;
  width: 825px;
}

.userLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.userName,
.userStatus {
  min-width: 400px;
}

.userstatus {
  word-break: break-word;
}

.userName a {
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.userRight {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: end;
}

.userCountry {
  min-width: 400px;
}

.userCity {
  min-width: 400px;
}

.btn {
  background-image: linear-gradient(166deg, #f22876 0%, #942dd9 100%);
  -webkit-box-shadow: 0.872px 9.962px 20px 0px rgb(12 78 165 / 30%);
  box-shadow: 0.872px 9.962px 20px 0px rgb(12 78 165 / 30%);
  font-weight: 600;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 16px 45px;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 0.855;
  background-image: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  transition: all 0.3s;
}

.btn:active {
  box-shadow: 0 1px #9d249ffa;
  transform: translateY(2px);
}