.button {
  background-image: linear-gradient(166deg, #f22876 0%, #942dd9 100%);
  -webkit-box-shadow: 0.872px 9.962px 20px 0px rgb(12 78 165 / 30%);
  box-shadow: 0.872px 9.962px 20px 0px rgb(12 78 165 / 30%);
  font-weight: 600;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 16px 45px;
  transition: all 0.2s;
}

.button:hover {
  opacity: 0.855;
  background-image: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  transition: all 0.3s;
}

.button:active {
  box-shadow: 0 1px #9d249ffa;
  transform: translateY(2px);
}

.newPost form {
  display: flex;
  gap: 15px;
  align-items: center;
}