.header {
  grid-area: header;
  background-color: #181A1B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header a {
  color: #1890FF;
  font-size: 20px;
  font-weight: 900;
}

.header a:hover {
  color: white;
}

.header p {
  color: #1890FF;
  font-size: 20px;
  font-weight: 900;
}

.logo {
  padding: 5px;
}

.logout {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logout button {
  padding: 5px 10px;
  background-image: linear-gradient(90deg, rgb(102 33 101) 0%, rgb(64 58 185) 19%, rgb(189 38 188) 52%, #dd59db 100%);
  color: white;
  font-size: 14px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
}

.logout button:hover {
  box-shadow: 0 0 10px 3px #8f2e8d;
}

.logout button:active {
  box-shadow: 0 3px rgb(63 56 205);
  transform: translateY(2px);
}