.nav {
  grid-area: nav;
  background-color: #181A1B;
  padding: 20px;
  height: 100vh;
}

.friendsBlock {
  color: white
}

.friends {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.friend img {
  width: 40px;
}

.navbar {
  display: flex;
  flex-direction: column;

}

.navbar a {
  color: white;
  font-weight: 500;
}

.navbar a.active,
.navSettings a.active {
  color: #1890FF;
  font-size: larger;
}

.navSettings a {
  color: white;
  font-weight: 800;
}